.about-container {
  text-align: center;
  background-color: #f0ead6;
  color: #352208;
  padding: 80px 10%;
}

.about-title {
  font-size: 60px;
  font-family: 'Century Schoolbook', serif;
  margin-bottom: 20px;
}

.about-description {
  font-size: 30px;
  font-family: 'Century Schoolbook', serif;
  max-width: 900px;
  margin: 0 auto;
  color: #7b6b43;
}

.monumental-vision {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
  gap: 0px;
}

.monumental-text {
  flex: 1;
  padding: 50px;
  text-align: left;
  font-size: 30px;
}

.monumental-heading {
  font-size: 50px;
  font-family: 'Century Schoolbook', serif;
  color: #352208;
  margin-bottom: 15px;
}

.monumental-content {
  font-size: 25px;
  color: #685634;
  max-width: 650px;
}

.monumental-image-container {
  flex: 1;
  text-align: right;
}

.monumental-image {
  width: 800px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.hospitality-section {
  position: relative;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-top: 50px;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.hospitality-content {
  position: relative;
  z-index: 2;
  max-width: 70%;
}

.hospitality-heading {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.hospitality-divider {
  width: 80px;
  border: 3px solid #a67c52;
  margin: 15px auto;
}

.hospitality-text {
  font-size: 30px;
  line-height: 1.6;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.global-legend {
  position: relative;
  color: #fff;
  text-align: center;
  background-color: #806443;
  padding: 60px 0;
  margin-bottom: 50px;
}

.global-legend-content {
  position: relative;
  z-index: 2;
  max-width: 800px;
  margin: 0 auto;
}

.global-legend-title {
  font-size: 48px;
  font-family: 'Century Schoolbook', serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.legend-divider {
  width: 120px;
  height: 3px;
  background-color: #fff;
  border: none;
  margin: 10px auto;
}

.global-legend-text {
  font-size: 28px;
  font-family: 'Century Schoolbook', serif;
  color: #f0ead6;
  line-height: 1.8;
  padding: 0 15%;
}

.global-legend-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.legend-fullwidth-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
